@import url(./normalize.css);

@font-face {
    font-family: "LostDungeon";
    src: url("../fonts/The\ Lost\ Dungeon.otf");
}

body{
    font-family: roboto, Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
}

/* Section One */
.section-one{
    flex: 1;
    position: relative;
    background-image: url("../images/esports-tn.jpg");
    background-size:cover;
    background-repeat: no-repeat;
}

.section-one .logo{
    background-color: rgb(255, 255, 255, 0.4);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    position: absolute;
    top: 20%;
    padding: 10px 0;
}

.logo img {
    width: 80px;
}

.logo h1{
    font-family: LostDungeon, Arial, Helvetica, sans-serif;
    font-size: 2.5rem;
}

.attribution{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.attribution p, 
.attribution a {
    color: rgb(220, 215, 215);
    font-size: 10px;
}

/* Section Two */
.section-two {
    flex: 1.7;
    display: flex;
    flex-direction: column;
}
.instructions{
    padding: 10px 40px;
    font-weight: bold;
    background-color: #ecececb0;
}

.instructions > p {
    width: 70%;
    line-height: 1.5rem;
    text-wrap: wrap;
}

.section-two .form-div{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-div h3{
    margin-top: 5px;
    padding: 10px 40px 0 40px;
}

.form-div form{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-div .input-section{
    display: grid;
    grid-template-columns: repeat(2,minmax(200px, 350px));
    row-gap: 15px;
    font-size: 0.8rem;
    font-weight: 500;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.3);
    padding-bottom: 30px;
}

form .form-info {
    display: flex;
    flex-direction: column;
    padding: 0px 40px;
}

form .form-info input{
    border: solid 1px #E5E7EB;
    outline: none;
    padding: 6px 6px;
    background-color: #e8e8e822;
    font-size: 0.9rem;
    border-radius: 4px;
}


form .form-info label {
    padding: 2px 1px;
}

form .form-submit{
    flex: 1;
    background-color: #ecececb0;
    padding: 25px 40px 0 40px;
}

.form-submit button{
    background-color: #ff4d00;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 8px 30px;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-bottom: 10px;
}

.form-submit button:hover{
    background-color: #ff4d00d6;
}

.form-submit button:active{
    position: relative;
    left: 1px;
    box-shadow: none;
}

.form-submit p{
    font-size: 0.9rem;
    font-weight: 500;
}
.form-submit p a{
color: #ff4d00;
text-decoration: none;
}

.form-submit p a:hover{
    color: #b43802;
    }

form .form-info input::placeholder{
    font-size: 0.9rem; opacity: 0.6; 

}

/* Form Validation */
form .form-info input:focus{
    border-color: #3e3eff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.error::after {
    content: "* Passwords do not match";
    font-size: 11px;
    color: red;
}